<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains"
      src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?w=740&t=st=1688619073~exp=1688619673~hmac=bc72ee3e9f3a8cf6c056ce3715031422be8a172a4ade911e926e6c09648f4a31" />
    <ion-card-header>
      <ion-card-title>Profile</ion-card-title>
      <ion-card-subtitle>Card Profile</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Profile
    </ion-card-content>
  </ion-card>

</ion-content>