<ion-content>

    <swiper-container #swiper (afterinit)="SwiperReady()" (slidechange)="swiperSlideChange($event)" [loop]="true"
        [pagination]="true" [zoom]="true" [autoplay]="true" [disableOnInteraction]="true">

        <swiper-slide *ngFor="let  image of images">

            <div class="swiper-zoom-container">
                <img class="cropped-image" [src]="image">
            </div>
        </swiper-slide>

    </swiper-container>

    <p style="text-align: center;color: black;font-family: 'Noto Sans Thai' !important; font-size: 28px;">
        เลือกจองคิวเลย</p>

    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-card>
                    <div class="radius">
                        <ion-icon name="restaurant-outline"></ion-icon>
                    </div>
                    <!-- <ion-card-title>Card Title</ion-card-title> -->
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card>
                    <div class="radius">
                        <ion-icon name="restaurant-outline"></ion-icon>
                    </div>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card>
                    <div class="radius">
                        <ion-icon name="restaurant-outline"></ion-icon>
                    </div>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card>
                    <div class="radius">
                        <ion-icon name="restaurant-outline"></ion-icon>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>