<ion-header class="scanner-hide">
  <ion-toolbar color="#">
    <ion-title>
      QR Code
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="scanner-hide">

  <ion-card class="ion-text-center">
    <ion-card-content>
      <qrcode [qrdata]="qrCodeString" [width]="256" [errorCorrectionLevel]="'M'">
      </qrcode>
    </ion-card-content>
  </ion-card>
  <ion-item *ngIf="scannedResult">
    <ion-label class="ion-text-wrap">Scanned Result: {{scannedResult}}</ion-label>
  </ion-item>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="Store">
        <ion-icon name="storefront-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="startScan()">
        <ion-icon name="qr-code-sharp"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="account">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>


<div class="scanner-ui" style=" 
            background-color: transparent;
            background-repeat: no-repeat;
            border: none; 
            text-align: center;">


  <ion-button color="danger" style=" width: 90px; height: 40px;" (click)="stopScan()">
    <ion-icon name="close-circle-outline" style="width: 65px; height: 40px;"></ion-icon>
  </ion-button>


</div>